@use 'sass:map';

$sty-primary: (
    1: rgba(75, 249, 130, 1),
    0.9: rgba(75, 249, 130, 0.9),
    0.8: rgba(75, 249, 130, 0.8),
    0.7: rgba(75, 249, 130, 0.7),
    0.6: rgba(75, 249, 130, 0.6),
    0.5: rgba(75, 249, 130, 0.5)
);
$sty-primary-1: (
    1: rgba(1, 245, 79, 1),
    0.9: rgba(1, 245, 79, 0.9),
    0.8: rgba(1, 245, 79, 0.8),
    0.7: rgba(1, 245, 79, 0.7),
    0.6: rgba(1, 245, 79, 0.6),
    0.5: rgba(1, 245, 79, 0.5)
);
$sty-primary-2: (
    1: rgba(35, 117, 61, 1),
    0.9: rgba(35, 117, 61, 0.9),
    0.8: rgba(35, 117, 61, 0.8),
    0.7: rgba(35, 117, 61, 0.7),
    0.6: rgba(35, 117, 61, 0.6),
    0.5: rgba(35, 117, 61, 0.5)
);

$sty-secondary: (
    1: rgba(100, 189, 252, 1),
    0.9: rgba(100, 189, 252, 0.9),
    0.8: rgba(100, 189, 252, 0.8),
    0.7: rgba(100, 189, 252, 0.7),
    0.6: rgba(100, 189, 252, 0.6),
    0.5: rgba(100, 189, 252, 0.5)
);
$sty-secondary-1: (
    1: rgba(23, 157, 253, 1),
    0.9: rgba(23, 157, 253, 0.9),
    0.8: rgba(23, 157, 253, 0.8),
    0.7: rgba(23, 157, 253, 0.7),
    0.6: rgba(23, 157, 253, 0.6),
    0.5: rgba(23, 157, 253, 0.5)
);
$sty-secondary-2: (
    1: rgba(79, 150, 201, 1),
    0.9: rgba(79, 150, 201, 0.9),
    0.8: rgba(79, 150, 201, 0.8),
    0.7: rgba(79, 150, 201, 0.7),
    0.6: rgba(79, 150, 201, 0.6),
    0.5: rgba(79, 150, 201, 0.5)
);

$sty-danger: (
    1: rgba(255, 153, 138, 1),
    0.9: rgba(255, 153, 138, 0.9),
    0.8: rgba(255, 153, 138, 0.8),
    0.7: rgba(255, 153, 138, 0.7),
    0.6: rgba(255, 153, 138, 0.6),
    0.5: rgba(255, 153, 138, 0.5)
);
$sty-danger-1: (
    1: rgba(255, 85, 60, 1),
    0.9: rgba(255, 85, 60, 0.9),
    0.8: rgba(255, 85, 60, 0.8),
    0.7: rgba(255, 85, 60, 0.7),
    0.6: rgba(255, 85, 60, 0.6),
    0.5: rgba(255, 85, 60, 0.5)
);
$sty-danger-2: (
    1: rgba(204, 70, 49, 1),
    0.9: rgba(204, 70, 49, 0.9),
    0.8: rgba(204, 70, 49, 0.8),
    0.7: rgba(204, 70, 49, 0.7),
    0.6: rgba(204, 70, 49, 0.6),
    0.5: rgba(204, 70, 49, 0.5)
);

$sty-alert: (
    1: rgba(247, 230, 126, 1),
    0.9: rgba(247, 230, 126, 0.9),
    0.8: rgba(247, 230, 126, 0.8),
    0.7: rgba(247, 230, 126, 0.7),
    0.6: rgba(247, 230, 126, 0.6),
    0.5: rgba(247, 230, 126, 0.5)
);
$sty-alert-1: (
    1: rgba(245, 218, 52, 1),
    0.9: rgba(245, 218, 52, 0.9),
    0.8: rgba(245, 218, 52, 0.8),
    0.7: rgba(245, 218, 52, 0.7),
    0.6: rgba(245, 218, 52, 0.6),
    0.5: rgba(245, 218, 52, 0.5)
);
$sty-alert-2: (
    1: rgba(194, 173, 41, 1),
    0.9: rgba(194, 173, 41, 0.9),
    0.8: rgba(194, 173, 41, 0.8),
    0.7: rgba(194, 173, 41, 0.7),
    0.6: rgba(194, 173, 41, 0.6),
    0.5: rgba(194, 173, 41, 0.5)
);

$sty-while: (
    1: rgba(252, 252, 247, 1),
    0.9: rgba(252, 252, 247, 0.9),
    0.8: rgba(252, 252, 247, 0.8),
    0.7: rgba(252, 252, 247, 0.7),
    0.6: rgba(252, 252, 247, 0.6),
    0.5: rgba(252, 252, 247, 0.5)
);
$sty-while-1: (
    1: rgba(255, 255, 255, 1),
    0.9: rgba(255, 255, 255, 0.9),
    0.8: rgba(255, 255, 255, 0.8),
    0.7: rgba(255, 255, 255, 0.7),
    0.6: rgba(255, 255, 255, 0.6),
    0.5: rgba(255, 255, 255, 0.5)
);
$sty-while-2: (
    1: rgba(201, 201, 197, 1),
    0.9: rgba(201, 201, 197, 0.9),
    0.8: rgba(201, 201, 197, 0.8),
    0.7: rgba(201, 201, 197, 0.7),
    0.6: rgba(201, 201, 197, 0.6),
    0.5: rgba(201, 201, 197, 0.5)
);

$sty-dark: (
    1: rgba(55, 52, 52, 1),
    0.9: rgba(55, 52, 52, 0.9),
    0.8: rgba(55, 52, 52, 0.8),
    0.7: rgba(55, 52, 52, 0.7),
    0.6: rgba(55, 52, 52, 0.6),
    0.5: rgba(55, 52, 52, 0.5)
);
$sty-dark-1: (
    1: rgba(28, 28, 28, 1),
    0.9: rgba(28, 28, 28, 0.9),
    0.8: rgba(28, 28, 28, 0.8),
    0.7: rgba(28, 28, 28, 0.7),
    0.6: rgba(28, 28, 28, 0.6),
    0.5: rgba(28, 28, 28, 0.5)
);
$sty-dark-2: (
    1: rgba(31, 31, 31, 1),
    0.9: rgba(31, 31, 31, 0.9),
    0.8: rgba(31, 31, 31, 0.8),
    0.7: rgba(31, 31, 31, 0.7),
    0.6: rgba(31, 31, 31, 0.6),
    0.5: rgba(31, 31, 31, 0.5)
);

$sty-gray: (
    1: rgba(242, 242, 242, 1),
    0.9: rgba(242, 242, 242, 0.9),
    0.8: rgba(242, 242, 242, 0.8),
    0.7: rgba(242, 242, 242, 0.7),
    0.6: rgba(242, 242, 242, 0.6),
    0.5: rgba(242, 242, 242, 0.5)
);
$sty-gray-1: (
    1: rgba(210, 210, 210, 1),
    0.9: rgba(210, 210, 210, 0.9),
    0.8: rgba(210, 210, 210, 0.8),
    0.7: rgba(210, 210, 210, 0.7),
    0.6: rgba(210, 210, 210, 0.6),
    0.5: rgba(210, 210, 210, 0.5)
);
$sty-gray-2: (
    1: rgba(158, 158, 158, 1),
    0.9: rgba(158, 158, 158, 0.9),
    0.8: rgba(158, 158, 158, 0.8),
    0.7: rgba(158, 158, 158, 0.7),
    0.6: rgba(158, 158, 158, 0.6),
    0.5: rgba(158, 158, 158, 0.5)
);

$sty-colors: (
    'primary': $sty-primary,
    'primary-1': $sty-primary-1,
    'primary-2': $sty-primary-2,
    'secondary': $sty-secondary,
    'secondary-1': $sty-secondary-1,
    'secondary-2': $sty-secondary-2,
    'danger': $sty-danger,
    'danger-1': $sty-danger-1,
    'danger-2': $sty-danger-2,
    'alert': $sty-alert,
    'alert-1': $sty-alert-1,
    'alert-2': $sty-alert-2,
    'while': $sty-while,
    'while-1': $sty-while-1,
    'while-2': $sty-while-2,
    'dark': $sty-dark,
    'dark-1': $sty-dark-1,
    'dark-2': $sty-dark-2,
    'gray': $sty-gray,
    'gray-1': $sty-gray-1,
    'gray-2': $sty-gray-2
);

@function colorSelect($color, $tone: 'base') {
    @return map-get(map-get($cr-colors, $color), $tone);
}
